/* Color Pallete
    -#F0F0F0
    -#004D57
*/

body {
    font-family: "Raleway", Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #F0F0F0;
    color: #004D57;
}

/* Elements */
ul, li, a {
    padding: 0;
    text-decoration: none;
    list-style: none;
}

h1 {
    font-size: 1.9rem;
    position: relative;
    right: 1rem;
}

h2 {
    text-align: center;
}

header,
main {
    margin: 0 auto;
    max-width: 90%;
}

section {
    border-top: #004D57 solid 0.2rem;
}

/* Links */
a,
a:visited {
    color: #F0F0F0;
}

a:hover,
a:focus {
    color: #004D57;
    background-color: #F0F0F0;
}

a:focus {
    outline: 1px solid #25575B;
}

a:active {
    color: #7FC7D9;
    background-color: #0F1035;
}

/* Header */
.site-header {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.site-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
    border-top: none;
}

.site-title img {
    width: 7rem;
}

.title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav-bar {
    display: flex;
    justify-content: center;
    background-color: #004D57;
    position: fixed;
    bottom: 0;
    margin-bottom: 1rem;
    border-radius: 1rem;
    z-index: 99;
}

.nav-bar-links {
    display: flex;
    justify-content: space-evenly;
}

.nav-bar-links a {
    padding: 0 1rem;
}

.nav-bar-links :not(:last-child) {
    border-right: 2px solid #F0F0F0;
}

.scroll-down,
.scroll-down:visited {
    color: #004D57;
}

/* Main */
.projects-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 1rem;
}

.project-tile {
    display: flex;
    background-color: #25575B;
    justify-content: center;
    align-items: center;
    border: #004D57 solid 3px;
    border-radius: 1rem;
    padding: 1rem;
    max-width: 20rem;
}

.floating-text {
    position: absolute;
    color: #F0F0F0;
}

/* Footer */
footer {
    margin: 0 auto;
    max-width: 90%;
}

.media-links li a,
.media-links li a:visited {
    color: #004D57;
}

.media-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.media-links li a{
    width: 50%;
}

@media (min-width: 50em) {
    
    #left {
        position: fixed;
        left: 0;
        width: 40%;
    }

    #right {
        position: absolute;
        right: 0;
        width: 60%;
    }

    .site-header {
        border-right: 0.25rem solid #004D57;
    }
}
