@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Color Pallete
    -
*/

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #F0F0F0;
    color: #004D57;
}

/* Elements */
ul, li, a {
    padding: 0;
    text-decoration: none;
    list-style: none;
}

h1 {
    font-size: 2rem;
}

header,
main,
footer {
    margin: 0 auto;
    max-width: 90%;
    border-bottom: #004D57 solid 0.2rem;
    height: 100vh;
}

/* Links */
a,
a:visited {
    color: #F0F0F0;
}

a:hover,
a:focus {
    color: #0F1035;
    background-color: #7FC7D9;
}

a:focus {
    outline: 1px solid #0F1035;
}

a:active {
    color: #7FC7D9;
    background-color: #0F1035;
}

/* Header */
.site-header {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.title-wrapper img {
    width: 7rem;
}

.site-title {
    display: flex;
    align-items: center;
}

.nav-bar {
    background-color: #004D57;
    width: 90%;
    position: fixed;
    bottom: 0;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.nav-bar-links {
    display: flex;
    justify-content: space-evenly;
    padding: 0 1rem;
}

.scroll-down,
.scroll-down:visited {
    color: #004D57;
}


/* Main */

#site-main {
    height: 100vh;
}


/* Footer */
footer {
    height: auto;
    margin-bottom: 5rem;
}

.media-links li a,
.media-links li a:visited {
    color: #004D57;
}