/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
# Base
	- Typography
	- Elements
	- Links
# Components
    - Reusables Classes
    - Header
    - Main
    - Footer
# Media Query
    - Desktop View
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Color Pallete
    -#F0F0F0
    -#004D57
*/
html, body {
    scroll-behavior: smooth !important; 
}

body {
    font-family: "Raleway", Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
    margin-bottom: 6rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #F0F0F0;
    color: #004D57;
}

ul, 
li, 
a {
    padding: 0;
    text-decoration: none;
    list-style: none;
}

h1 {
    font-size: 1.9rem;
    position: relative;
    right: 1rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
    width: auto;
}

h3 {
    border-bottom: 0.1rem solid #004D57;
    width: fit-content;
}

p {
    font-size: 1rem;
}

header,
main,
footer {
    margin: 0 auto;
    max-width: 90%;
}

/* Links */
a,
a:visited {
    color: #004D57;
    position: relative;
    top: 0;
    transition: top ease 0.3s;
}

a:hover,
a:focus {
    color: #004D57;
    border-bottom: 0.2rem solid #004D57;
    top: -3px;
}

a:focus,
a:active {
    outline: 0.2rem solid #004D57;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Reusable Classes */
.rounded-border {
    border: 0.1rem solid #004D57;
    border-radius: 1rem;
}

.icons {
    width: 32px;
}

.media-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
}

/* Header */
.site-header {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.site-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
    border-top: none;
}

.site-title img {
    width: 7rem;
}

.title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav-bar {
    display: flex;
    justify-content: center;
    background-color: #F0F0F0;
    position: fixed;
    bottom: 0;
    margin-bottom: 1rem;   
    z-index: 99;
    width: 19rem;
}

.nav-bar-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.icons p {
    padding: 0;
    margin: 0;
    font-size: 0.7rem;
    text-align: center;
}

/* Main */
.projects-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
}

.project-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
}

.project-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18rem;
    padding: 1rem;
}

.project-image {
    width: 60%;
    justify-content: center;
}

.project-image img{
    height: 19rem;
}

.project-tile .icons {
    display: inline-block;
}

/* Stack */
.stack {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.stack article ul li{
    list-style: circle;
}

.stack article ul{
    padding: 0 0 1rem 1rem;
}


/* Footer */
.site-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-top: 0.2rem solid #004D57;
}

footer h2 {
    font-size: 1.5rem;
}

/*--------------------------------------------------------------
# Media Query
--------------------------------------------------------------*/

/* Tablet view */
@media (min-width: 50em) {
    
    p {
        font-size: 1.1rem;
    }

    #left {
        position: fixed;
        left: 0;
        width: 45%;
        box-shadow: 0.5rem 0 1rem -0.5rem #004D57;
    }

    #right {
        position: absolute;
        right: 0;
        width: 55%;
    }

    .nav-bar {
        position: static;
    }

    .project-tile {
        align-items: center;
        width: 30rem;
    }

    .stack {
        flex-direction: row;
    }

    .site-footer {
        justify-content: space-between;
    }
}

/* Desktop View */
@media (min-width: 75em) {
    
    p {
        font-size: 1.2rem;
    }

    #left {
        width: 30%;
    }

    #right {
        width: 70%;
    }

    .project-tile {
        width: 30rem;
    }
}
